@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: white;
}

/* Custom Font */
.font-lobster {
  font-family: 'Lobster';
}

.font-oswald {
  font-family: 'Oswald';
}

/* End Custom Font */

/* Custom Color */
.bg-blue {
  background: #1947ee;
}

.bg-green {
  background: #00CBFF;
}

.bg-red {
  background: red;
}

.hover-bg-blue:hover {
  background: #1947ee;
}

/* End Custom Color */

/* Hover Button*/



.bg-blue-hover-green {
  background: #1947ee;
}

.bg-red-hover-green {
  background: red;
}

.bg-red-hover-green:hover,
.bg-blue-hover-green:hover {
  background: #00CBFF;
  color: black;
  font: bold;
}

/* End Hover */

#container-w {
  height: 10rem;
  background-color: #1947ee;
}